<div class="contenedorcito bg-warning d-flex justify-content-center text-center rounded-top">
    <p class="h1 text-dark">Temas</p> 
  
 </div>

<div class="contenedor">
    <p-scrollPanel [style]="{width: '100%', height: '50vh'}" styleClass="custom" class="cont text-center bg-light mt-3 rounded-bottom">
    <div class="p-3">
        <div routerLink="/detail" routerLinkActive="active" class="btn btn-danger col-9 my-2">Tema 1</div>
        <div class="btn btn-primary col-9 my-2">Tema 2</div>  
        <div class="btn btn-success col-9 my-2">Tema 3</div> 
        <div class="btn btn-dark text-light col-9 my-2">Tema 4</div> 
        <div class="btn btn-danger text-light col-9 my-2">Tema 5</div>    
        <div class="btn btn-primary col-9 my-2">Tema 6</div>  
        <div class="btn btn-success col-9 my-2">Tema 7</div> 
        <div class="btn btn-dark text-light col-9 my-2">Tema 8</div> 
        <div class="btn btn-danger col-9 my-2">Tema 9</div>
    </div>
    </p-scrollPanel>
    
</div>

