<div class="contenedorcito bg-warning d-flex justify-content-center text-center rounded-top">
    <p class="h1 text-dark">Ejercicios</p>
</div>
<div class="contenedor">
    <p-scrollPanel [style]="{width: '100%', height: '50vh'}" styleClass="custom">     
        <div class="text-center p-3">             
                    <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
                        aria-expanded="false" aria-controls="exerciseDropdown">
                        Ejercicio 1
                    </a>
                <div class="collapse" id="exerciseDropdown">
                    <p-card class="d-flex justify-content-around bg-light">
                        <p class="mt-3">Calcula A y B.</p>
                        <input class="col-10 border border-primary" type="text"/>
                        <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
                        <div class="col-3 mt-3 btn-group dropright">
                            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Pista
                            </button>
                            <div class="dropdown-menu">
                              <div class="pista"><p>A + B = C</p></div>
                            </div>
                          </div>
                    </p-card>
                </div>           
        </div>

        <div class="text-center p-3">             
            <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown2" role="button"
                aria-expanded="false" aria-controls="exerciseDropdown2">
                Ejercicio 2
            </a>
        <div class="collapse" id="exerciseDropdown2">
            <p-card class="d-flex justify-content-around bg-light">
                <p class="mt-3">Calcula A y B.</p>
                <input class="col-10 border border-primary" type="text"/>
                <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
                <div class="col-3 mt-3 btn-group dropright">
                    <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Pista
                    </button>
                    <div class="dropdown-menu">
                      <div class="pista"><p>A + B = C</p></div>
                    </div>
                  </div>
            </p-card>
        </div>           
</div>

<div class="text-center p-3">             
    <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown3" role="button"
        aria-expanded="false" aria-controls="exerciseDropdown">
        Ejercicio 3
    </a>
<div class="collapse" id="exerciseDropdown">
    <p-card class="d-flex justify-content-around bg-light">
        <p class="mt-3">Calcula A y B.</p>
        <input class="col-10 border border-primary" type="text"/>
        <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
        <div class="col-3 mt-3 btn-group dropright">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pista
            </button>
            <div class="dropdown-menu">
              <div class="pista"><p>A + B = C</p></div>
            </div>
          </div>
    </p-card>
</div>           
</div>

<div class="text-center p-3">             
    <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
        aria-expanded="false" aria-controls="exerciseDropdown">
        Ejercicio 1
    </a>
<div class="collapse" id="exerciseDropdown">
    <p-card class="d-flex justify-content-around bg-light">
        <p class="mt-3">Calcula A y B.</p>
        <input class="col-10 border border-primary" type="text"/>
        <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
        <div class="col-3 mt-3 btn-group dropright">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pista
            </button>
            <div class="dropdown-menu">
              <div class="pista"><p>A + B = C</p></div>
            </div>
          </div>
    </p-card>
</div>           
</div>

<div class="text-center p-3">             
    <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
        aria-expanded="false" aria-controls="exerciseDropdown">
        Ejercicio 1
    </a>
<div class="collapse" id="exerciseDropdown">
    <p-card class="d-flex justify-content-around bg-light">
        <p class="mt-3">Calcula A y B.</p>
        <input class="col-10 border border-primary" type="text"/>
        <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
        <div class="col-3 mt-3 btn-group dropright">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pista
            </button>
            <div class="dropdown-menu">
              <div class="pista"><p>A + B = C</p></div>
            </div>
          </div>
    </p-card>
</div>           
</div>

<div class="text-center p-3">             
    <a class="btn btn-primary" data-toggle="collapse" href="#exerciseDropdown" role="button"
        aria-expanded="false" aria-controls="exerciseDropdown">
        Ejercicio 1
    </a>
<div class="collapse" id="exerciseDropdown">
    <p-card class="d-flex justify-content-around bg-light">
        <p class="mt-3">Calcula A y B.</p>
        <input class="col-10 border border-primary" type="text"/>
        <button class="col-3 mt-3 btn btn-success" type="submit">Confirmar</button>
        <div class="col-3 mt-3 btn-group dropright">
            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pista
            </button>
            <div class="dropdown-menu">
              <div class="pista"><p>A + B = C</p></div>
            </div>
          </div>
    </p-card>
</div>           
</div>
    </p-scrollPanel>
</div>