<div class="contenedorcito bg-warning d-flex justify-content-center text-center rounded-top">
    <p class="h1 text-dark">Área</p> 
  
 </div>

<div class="contenedor">
    <p-scrollPanel [style]="{width: '100%', height: '55vh'}" styleClass="custom" class="cont text-center bg-light mt-3 rounded-bottom">
    <div class="p-3">
        <div routerLink="/exercises" routerLinkActive="" class="btn btn-danger col-9 my-2">Geometría</div>
        <div class="btn btn-primary col-9 my-2">Estadística</div>  
        <div class="btn btn-success col-9 my-2">Trigonometría</div> 
        <div class="btn btn-dark col-9 my-2">Cálculo</div> 
    </div>  
        
    </p-scrollPanel>
</div>

