<!-- Rounded switch -->
<!-- GENERALS SETTINGS  -->
<div class="settings">

  <!--Profile  -->
  <div class="profile">
    <h5>Martin</h5>
    <p>@martin123</p>
    <div class="profile-pic">
      <img src="https://www.google.com/search?q=foto+de+avatar+sin+perfil&rlz=1C1CHBF_esES1002ES1002&sxsrf=ALiCzsbL7fuBXc-744rBJigSR8cR6z86BQ:1652348212957&source=lnms&tbm=isch&sa=X&sqi=2&ved=2ahUKEwiU-Jzi1Nn3AhX3KkQIHbesDGcQ_AUoAXoECAEQAw&biw=1536&bih=754&dpr=1.25#imgrc=ap7ge5vDWhBKNM">
    </div>

    <div class="description">
      <textarea name="" id="" cols="30" rows="10" placeholder="Escribe una descripcion tuya aqui 😀"></textarea>
    </div>

    <p>Miembro desde : <span>septiembre 2021</span></p>
    <label>Modo oscuro 🌑</label> <br>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>

  </div>
  <!--Profile  Ends here  -->

  <!--Profile  data  -->
  <div class="profile-data">
    <legend class="edit-profile">Editar perfil</legend>

    <div class="profile-forms">
      <form action="" class="actual-data">

        <legend>Nombre</legend>
        <input type="text" value="Martin">

        <legend>Nombre de Usuario</legend>
        <input type="text" value="@martin123">

        <legend>Contraseña</legend>
        <input type="password" value="...........">

        <legend>Email</legend>
        <input type="email" value="martin123@gmail.com">
      </form>


      <form action="" class="mew-data">


        <legend>Cambia tu nombre de Usuario</legend>
        <input type="text">

        <legend>Contraseña</legend>
        <input type="password" placeholder="Escribe tu nueva contraseña">

        <legend>Email</legend>
        <input type="email" placeholder="Escribe tu nuevo email">


        <button>Actualizar informacion</button>

      </form>
    </div>



  </div>

  <!--Profile  data ENDS HERE  -->

</div>

<!-- GENERALS SETTINGS  ENDS HERE  -->